<%= render 'layouts/messages' %>

<div class="jumbotron text-center">
  <h1 class="display-4">Alpha Blog!</h1>
  <p class="lead">This is the entrypoint to the Alpha Blog.</p>
  <hr class="my-4">
  <p>You can post for any topic in this blog.</p>
  <p class="lead">
    <%= link_to 'Sign Up', signup_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
