<div class="container">
  <hr class="my-4">
  <footer class="footer">
    <small>
      Copyright &copy; Rails App by
      <a href="https://github.com/lscortesc" target="_blank">@lscortesc</a>
    </small>
  </footer>
</div>